<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>No.{{pokemon.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="image-container">
      <img mat-card-image src="../../assets/pokemonImages/{{pokemon.id}}.png">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" routerLink="{{pokemon.detailPath}}">Detail</button>
  </mat-card-actions>
</mat-card>
